* {
 padding: 0;margin: 0;	
}
*,
*:after,
*:before{
	box-sizing: border-box;
}

body{
	background-color: rgb(216, 233, 233);
	font-family: 'Montserrat',sans-serif;
	color: blue;
	line-height: 1.5
	
}
/* container   _____________________________ */
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left:1rem ;
	padding-right:  1rem;
}

/* header________________*/
.header {
	width: 100%;
	height: 160px;
	position: absolute;
	top: 0;
	left: 15px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30 px 15 px;
	box-sizing: border-box;
	max-width: 1530px;
	margin: 0 auto;
	
}
.header__inner{
	display: flex; justify-content: space-between;align-items: center;
}

/*nav_________________________________*/
.nav{

}

.nav__link {
	margin-left: 50px;
	color: aqua;text-decoration: none;
}
.nav__link:hover{
	color: rgb(11, 12, 12);
}

.user{
	display: flex; justify-content: space-between;align-items: center;
}

/* грид галлери---------*/
.callery--grid{
	display: grid;
	grid-template-columns:1fr 2fr 1fr ;
	grid-template-rows: auto ;
}


/*callery      
.callery__item{
	display: flex;
	width: 50%;
	margin: 100px 0;
}
*/


/* footer___________________*/
.footet__wrap{
	padding:70px 0 ;
	max-width: 1180px;
	min-width: 320px;
	margin: 0 auto;
}
.footer{
	display: flex; justify-content: space-between;align-items: center;
	color: blue;font-size: 1rem;font-weight: 700;
}
/* education*     */
.education_block{
	padding-top: 160px;
}
.education--item{
	display: flex;align-items: center;justify-content: space-between;margin-bottom: 100px;
	max-width: 1180px;
	min-width: 320px;
	margin: 0 auto;
}

.education__img{
	width: 47%;text-align: center;
	height: 50%;
}
.education__txt{
	width: 50%;

}
.education--item:nth-child(2n){
	flex-direction: row-reverse;
}

.education--item:last-child{
	margin-bottom: 0;
}
.foto{
	max-width: 100%;
}








